/*========== Configurations ==========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    /* BACKGROUNDS */
    --button-background: #8E2424;
    --skin-background: rgba(142, 36, 36, 0.05);
    --opinion-background: rgba(196, 25, 25, 0.03);
    --footer-background: #F9FAFB;

    /* BORDERS */
    --light-border: #EAECF0;

    /* TEXTS */
    --tittle-text: #101828;
    --default-text: #667085;
    --white-text: #fff;
    --info-text: #8E2424;

    /* Fonts */
    --Inter-font: 'Inter', Arial, Helvetica, sans-serif;
}

/*========== Generic Elements ==========*/
body {
    width: 80vw;
    
    margin: auto;

    font-size: 16px;
    font-family: var(--Inter-font);
}

a {
    color: inherit;
    text-decoration: none;
}

/*========== Generic Classes ==========*/


/*========== Page - Top to Bottom ==========*/
/* MAIN HEADER */
.main-header {
    display: flex;

    padding: 1.1rem;

    justify-content: space-between;

    color: var(--default-text);
}

    .main-header__nav {
        width: 65%;
    }

        .main-header__items {
            display: flex;

            padding-left: 0;

            list-style: none;
        }

            .main-header__item:first-child {
                margin-left: 1rem;
            }

                .main-header__link {
                    padding: 1rem;
                }

    .main-header__login-register {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .main-header__buttom {
            padding: .6rem 1.2rem;
        }

            .main-header__buttom--register {
                background-color: var(--button-background);

                border-radius: .5rem;

                color: var(--white-text);
            }

/* ABOUT US */
.header-about-us {
    margin: 5rem auto;

    text-align: center;
}

    .header-about-us__info {
        color: var(--info-text);
        font-weight: 600;
    }

    .header-about-us__tittle {
        font-size: 3rem;
    }

    .header-about-us__text {
        width: 50%;

        margin: auto;

        color: var(--default-text);
        font-weight: 400;
        font-size: 1.1rem;

        line-height: 2rem;
    }